/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  height: 400px;
  width: 45%;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#list {
  height: 400px;
  width: 45%;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/*.marker {
background-color: white;
height: 20px;
width: 20px;
}*/

.mapContainer {
  margin: 5% 10%;
}

.fa {
  color: blue;
}

.fa:hover {
  color: red;
}
